img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:900px;
  height:250px;
}

body{
  background-color: #0099CC;
}

.questions{
  text-align:left;
  padding-left: 115px;
  padding-right: 115px;

}

.question1{
  background-color: #F0F0F0;
}

.question2{
  background-color: #F0F0F0;
}

.question3{
  background-color: #F0F0F0;
}

.question4{
  background-color: #F0F0F0;
}